body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.top-section{
    display: flex;
}
span{
    color: tomato;
}
.same-width{
    width: 40%;
    padding-left: 5%;
    margin-top: 5%;
}
.same-width img{
    width: 80%;
    padding-bottom: 15%;
    margin-top: 0;
}
.link-button{
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight: 70;
    padding: 8px 15px;
    border-radius: 10px;
    text-decoration: none;
}
h1{
    font-size: 35px;
}
.midle-section{
    display: flex;
    background-image: url(images/7.png);
}
.link-button2{
    background-image: linear-gradient(rgb(236, 4, 93), rgb(240, 0, 208));
    padding: 8px 12px;
    font-weight: 700px;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}
.change-heading{
    color: tomato;
}
.city{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}
.loram{
    color:rgb(44, 0, 240)
}
.ipsum{
    color: tomato;
}
.last-section{
    display: flex;
}
.doler{
    width: 25%;
    padding-left: 7%;
    padding-right: 7%;
}
.doler img{
    width: 100%;
    padding-left: 1%;
    padding-right: 7%;
}
#box{
    box-shadow: 20px 20px 40px gray;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 1%;
    margin-left: 5%;
    border-radius: 20px;
}